  a {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    background-color: #45a049;
  }

  body {
    height: 150px;
    width: 236px;
  }

  div {
    text-align: center;
  }

  span {
    font-size: 20px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    padding: 10px 15px;
  }
